# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
#*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Tool specific files
.README.md.html
.*~
.*.*~
.project
.settings
.pydevproject

# Build directories in root
build
node_modules
/npm-debug.log
